*{
  margin:  0;
  padding:  0;
  box-sizing:  border-box;
}
.cardHighlight {
  min-height: 100%;
}
.cardProduct {
  min-height: 100%;


}
.cardImage{
  width: auto;
  height: 350px;
  object-fit: cover;
  object-position: 50% 100%;
}
.cardImageDetail{

  min-height: 100%;
  max-height: 1000px;
  object-fit: cover;
  object-position: 50% 50%;
  
}
.rowCenter {
  justify-content: center;
}
.textCenter {
  text-align: center;
}
.cardImageUpdate{
  height: 350px;
  object-fit: cover;
  object-position: 50% 100%;
}
/*.jumbotron {
  height: 30vh ;
}*/

.inputValue {
  text-align: center;
}
.bannerButton {
  border-radius: 50px;
  
}
.orderCard {
  width: 1;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1618397746666-63405ce5d015?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80");
  background-size: cover;
}