* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
}


/* Components */

/* BannerCarousel */

.carousel-image {
  height: 100vh;
  object-fit: cover;
}

/* BannerJumbotron */

.jumbotron-button {
  border-radius: 50px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

/* Details */

.detail-card-image {
  object-fit: cover;
  object-position: 50% 100%;
}

/* Footer */

.main-footer {
  color: rgb(255, 255, 255);
  background-color: rgb(22, 22, 22);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-footer li {
  padding: 0.5rem 0 0.5rem 0;
}

.main-footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;

}

.footer-button-links {
  margin: 0 1rem 1rem 1rem;
}

/* Highlights */

.highlights-card-image {
  height: 50vh;
  object-fit: cover;
  object-position: 50% 50%;
}

/* NavBar */

.nav-dropdown-link {
  color: black;
}

.nav-dropdown-link:hover {
  color: white;
  background-color: rgb(163, 163, 163);
}

/* NotFound */

.notfound-jumbotron {
  background: linear-gradient(rgba(255, 255, 255, 0.678), rgba(255, 255, 255, .5)), url("https://images.unsplash.com/photo-1518306896927-d58c59c07b82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80");

  background-size: cover;
  padding-top: 10rem;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
  background-position: 50% 25%;
}

/* Product */

.product-card-link:hover {
  text-decoration: none;
}

.product-card {
  min-height: 100%;
  width: 100%;
  height: auto;
  transform: scale(0.95);
  transition: transform .3s;
  color: black;
}

.product-card:hover {
  transform: scale(1);

}

.product-card-image {
  height: 20rem;
  object-fit: cover;
  object-position: 50% 100%;
}

/* Pages */

/* addProduct */

.addproduct-card-image {
  object-fit: cover;
  object-position: 50% 100%;
}

/* cart */

/* details */

/* home */

.home-jumbotron-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.home-jumbotron {
  background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
  background-size: cover;

  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}

.home-todays-picks-section {
  background-color: rgba(218, 218, 218, 0.438);
  border-top: 0.5rem dashed;
  /* border-bottom: 0.5rem dashed; */
}

#home-todays-picks-header {
  font-family: cursive;
  text-decoration: underline;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.home-view-more-link {
  color: black;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* login */
.login-card {
  transition: transform 0.25s, box-shadow 0.25s;
}

.login-card:focus-within {
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.452);
  transform: scale(1.025);
  transition-timing-function: ease-out;
}

/* orders */

/* products */

.shop-jumbotron {
  background-image: url("https://images.unsplash.com/photo-1585792180666-f7347c490ee2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1056&q=80");
  height: 100vh;
  background-size: cover;
  padding-bottom: 35rem;
  padding-top: 4rem;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
  background-position: 50%;
}

.products-list-section {
  background-color: rgba(218, 218, 218, 0.438);
  border-top: 0.5rem dashed;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.products-list-header {
  font-family: cursive;
  text-decoration: underline;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* register */

.register-card {
  transition: transform 0.25s, box-shadow 0.25s;
}

.register-card:focus-within {
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.452);
  transform: scale(1.025);
  transition-timing-function: ease-out;
}

.register-input-field {
  border: 0;
  border-bottom: 1.75px solid gray;
  outline: none;
}



/* updates */

.updates-card-image {
  object-fit: cover;
  object-position: 50% 100%;
}